{% extends 'accounts/main.html' %}

{% block content %}



<section>
  <img src="{{user.profile_pic}}" alt="">
</section>

<section>
  <h4>Basic Inuseration</h4>
  <p>
    Name: {{user.Nationality}} {{user.Last_name}} <br>
    Work Field: {{user.workFeild}} <br>
    Email: {{user.email}} <br>
    Phone: {{user.phone}} <br>
  </p>

  <p>{{user.aboutme}}</p>
</section>

<section>
  <h4>Education</h4>
  <p>
    School Name: {{user.First_name}} <br>
    Passing Year: {{user.workFeild}} <br>
    Board : {{user.schoolBoard}}
    GPA: {{user.email}} <br>
  </p>
  <p>
    College Name: {{user.First_name}} <br>
    Passing Year: {{user.workFeild}} <br>
    Group : {{user.collegegroup}} <br>
    Board : {{user.schoolBoard}}
    GPA: {{user.email}} <br>
  </p>
  <p>
    University Name: {{user.First_name}} <br>
    Degree : {{user.First_name}} <br>
    Passing Year: {{user.workFeild}} <br>
    Subject : {{user.collegegroup}} <br>
    CGPA: {{user.email}} <br>
  </p>
</section>


<section>
  <h4>Work Experience</h4>
  <p>
    School Name: {{user.First_name}} <br>
    Passing Year: {{user.workFeild}} <br>
    Board : {{user.schoolBoard}}
    GPA: {{user.email}} <br>
  </p>
</section>





{% endblock %}
