{% extends 'accounts/main.html' %}

{% block content %}



<div class="inge">
<section>
  <p><img src="{{user.profile_pic}}" alt=""></p>
</section>

<section>
  <h4>Basic Information</h4>
  <p>
    Name: {{user.First_name}} {{user.Last_name}}<br>
    Email: {{user.email}}<br>
    Phone: {{user.phone}} <br>
    Nationality: {{user.Nationality}} <br>
    Current Address: {{user.CurrentAddress}} <br>
    Permanent Address: {{user.PermanentAddress}} <br>
    Work Feild: {{user.workFeild}} <br>
    Zip Code: {{user.ZipCode}} <br>

    Marital Status: {{user.marital_status}} <br>
    Mender: {{user.gender}} <br>
    Religion: {{user.religion}} <br>
    Blood Group: {{user.blood_group}} <br>
    Age: {{user.age}} <br>
  </p>


</section>

<section>
  <h4>Education</h4>
  <p>
    School Name: {{user.schoolName}} <br>
    School Passing Year: {{user.school_passing_year}} <br>
    School Board: {{user.schoolBoard}} <br>
    School GPA: {{user.schoolGPA}} <br>
  </p>

  <p>
    College Name: {{user.collegeName}} <br>
    College Group: {{user.collegegroup}} <br>
    College Passing Year: {{user.college_passing_year}} <br>
    College Board: {{user.collegeBoard}} <br>
    College GPA: {{user.collegeGPA}} <br>
  </p>

  <p>
    Univarsity name: {{user.varsityname}} <br>
    Univarsity degree: {{user.varistydegree}} <br>
    Univarsity feild: {{user.varsityfeild}} <br>
    Univarsity Passing Year: {{user.varsity_passing_year}} <br>
    Univarsity CGPA: {{user.varsity_CGPA}} <br>

  </p>
</section>

<section>
  <h4> Skills </h4>
  <p>
    Skill name: {{user.skillname}} <br>
    Skill details: {{user.skilldetails}} <br>
  </p>
</section>


<section>
  <h4>Work Experience</h4>
  <p>
    Previous Work Title: {{user.previousWorkTitle}} <br>
    Company Name: {{user.CompanyName}} <br>
    Previous Work details: {{user.previousWorkdetails}} <br>
  </p>
</section>

<section>
  <h4>Project and Achcievement</h4>
  <p>
    Project Title: {{user.ProjectTitle}} <br>
    project usededenv: {{user.projectusededenv}} <br>
    project details: {{user.projectdetails}} <br>
    <br> <br>
    Achcieveprize: {{user.achcieveprize}} <br>
    Achievefield: {{user.achievefield}} <br>
    Achieveetails: {{user.achieveetails}} <br>
  </p>
</section>

<section>
  <h4>Goal and Passion</h4>
  <p>
    Goal topic: {{user.goaltopic}} <br>
    Goal details: {{user.goaldetails}} <br>

    <br><br>
    Passion topic: {{user.passiontopic}} <br>
    Passion details: {{user.passiondetails}} <br>
  </p>
</section>

<section>
  <h4>About me</h4>
    <p>{{user.aboutme}}</p>
</section>

</div>




{% endblock %}
